@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Organisation.Models.Entities.Company

<h1>Edit Details</h1>
<form method="post">
    <div class="mt-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" placeholder="Enter Name" asp-for="Id" readonly/>
    </div>

    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Department</label>
        <select class="form-control" asp-for="Department">
            <option value="IT">IT</option>
            <option value="CSE">CSE</option>
            <option value="STEAL">STEAL</option>
        </select>
    </div>


    <div class="mt-3">
        <label class="form-label">Establish</label>
        <input type="date" class="form-control" asp-for="Establish" />
    </div>

    <div class="mt-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" placeholder="Enter Address" asp-for="Address" />
    </div>

    <div class="mt-3">
       <button type="submit" class="btn btn-primary">Submit</button>
      <button  type="submit" class="btn btn-danger" asp-controller="Companies" asp-action="Delete" >Delete</button>
    </div>


</form>

